<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      layout:fragment="content">
<head>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h1>상품 목록</h1>
    </div>
    <form th:action th:object="${productListRequest}">
        <div class="row">
            <div class="col" style="width: 150px; float: left;">
                <select class="form-control" name="category" style="width: 150px; float: left;">
                    <option value="">==종류 선택==</option>
                    <option th:each="category : ${T(adminpage.project.product.entity.Category).values()}"
                            th:value="${category.name()}"
                            th:text="${category.name()}"
                            th:selected="${productListRequest?.category?.name() eq category.name()} ? 'true' : 'false'">
                    </option>
                </select>
            </div>
            <input type="text" th:field="*{name}" class="form-control" style="width: 150px;float: right;"placeholder="모델명">
            <input type="text" th:field="*{code}" class="form-control" style="width: 150px;float: right;"placeholder="코드명">
            <button type="submit" class="btn btn-primary" style="float: right;">검색</button>
        </div>
    </form>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>번호</th>
                <th>모델명</th>
                <th>코드</th>
                <th>카테고리</th>
                <th>가격</th>
                <th>판매 여부</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${productList}">
                <td ><a th:href="@{/products/getOne/{productId}(productId=${product.id})}" th:text="${product.id}"></a></td>
                <td><a th:href="@{/products/getOne/{productId}(productId=${product.id})}" th:text="${product.name}"></a></td>
                <td th:text="${product.code}">[코드]</td>
                <td th:text="${product.category}">[카테고리]</td>
                <td th:text="${product.price}">[가격]</td>
                <td th:text="${product.open}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button class="btn btn-primary float-end"
                onclick="location.href='addForm.html'" type="button"
                th:onclick = "|location.href='@{/products/add}'|">상품 등록
        </button>
    </div>
</div>
<script type="text/javascript"></<script !src=""></script>
</body>
</html>