<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      layout:fragment="content">
<head>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h1>회원 목록</h1>
    </div>
    <form th:action th:object="${memberListRequest}">
        <div class="row">
            <div class="col" style="width: 150px; float: left;">
                <select class="form-control" name="gender" style="width: 150px; float: left;">
                    <option value="">==성별 선택==</option>
                    <option th:each="gender : ${T(adminpage.project.member.entity.Gender).values()}"
                            th:value="${gender.name()}"
                            th:text="${gender.name()}"
                            th:selected="${memberListRequest?.gender?.name() eq gender.name()} ? 'true' : 'false'">
                    </option>
                </select>
            </div>
            <div class="col" style="width: 150px; float: left;">
                <select class="form-control" name="rank" style="width: 150px;">
                    <option value="">==등급 선택==</option>
                    <option th:each="rank : ${T(adminpage.project.member.entity.Rank).values()}"
                            th:value="${rank.name()}"
                            th:text="${rank.name()}"
                            th:selected="${memberListRequest?.rank?.name() eq rank.name()} ? 'true' : 'false'">
                    </option>
                </select>
            </div>
            <input type="text" th:field="*{name}" class="form-control" style="width: 150px;float: right;"placeholder="이름">
            <button type="submit" class="btn btn-primary" style="float: right;">검색</button>
        </div>
    </form>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>이메일</th>
                <th>성별</th>
                <th>이름</th>
                <th>등급</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${memberList}">
                <td><a th:href="@{/member/getMember/{memberId}(memberId=${member.id})}" th:text="${member.id}"></a></td>
                <td><a th:href="@{/member/getMember/{memberId}(memberId=${member.id})}" th:text="${member.email}"></a></td>
                <td th:text="${member.gender}"></td>
                <td th:text="${member.name}"></td>
                <td th:text="${member.rank}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button class="btn btn-primary float-end"
                onclick="location.href='addForm.html'" type="button"
                th:onclick = "|location.href='@{/member/add}'|">회원 등록
        </button>
    </div>
    <script type="text/javascript"></<script !src=""></script>
</div>
</body>
</html>